<app-header></app-header>

<!-- Page Content -->
<div class="page-content">
    <app-top-header></app-top-header>

    <!-- Why does the below class 'no-page-title' allow the page-title to exist? The irony is striking in this bug... -->
    
    
    <div class="page-inner no-page-title">

        <div>
            <h3>Quick Start Guide</h3>
        </div>
        <hr>
        <p>
            Lost? Overwhelmed? Let's ease the stress of learning a new piece software so your team
            can spend time on what matters to you. Below are guides for each vital function of Rapifly's unique
            methodology; simply select any item that you need assistance with, and if the guide is not clear enough, feel free
            to explore the FAQ's, reach out to an expert (coming soon...), or file a bug report. 
        </p>

        <ul class="rap-guide-list">
            <li>
                <mat-expansion-panel style="margin-bottom: 24px;">
                    <mat-expansion-panel-header>
                        <h3>The Hud</h3>
                    </mat-expansion-panel-header>
                    <ul class="guide-nav">
                        <li class="rap-guide-list-item" *ngFor="let i of hudSelectionsStages">
                            <button value={{i}} class="btn btn-default" (click)="selectStage($event)">
                                {{i}}
                            </button>
                        </li>
                    </ul>
                    <p *ngIf="activeStage === ''" [hidden]="activeStage !== ''">Select a section to learn more...</p>

                <!-- Active Stage: Create -->
                <div *ngIf="activeStage !== '' && activeStage == 'Create'" [hidden]="activeStage == ''">
                    <h3>{{activeStage}}</h3>
                    <p>
                        The first step in the CEE methodology, <strong>CREATE</strong> is the stage for all things planning and preparing.
                        Getting started is a simple process:
                    </p>
                    <ol>
                        <li>
                            Under CREATE, create your first root item if you haven't already; this will
                            set your target goals, plan dates, and more for all sub-plans and modules. For more on sub-plans and modules, check out their respective
                            guides below. 
                        </li>
                        <li>
                            Once you've created the parent plan, your next
                            step is to enter the Brainstorm phase and delve deep
                            into the simple, yet powerful tools Rapifly has to offer!
                        </li>
                    </ol>
                    <ul class="guide-nav">
                        <li class="rap-guide-list-item" *ngFor="let i of hudSelectionsPhases_Create">
                            <button value={{i}} class="btn btn-default" (click)="selectPhase($event)">
                                {{i}}
                            </button>
                        </li>
                    </ul>

                    <!-- Various Phases -->
                    <!-- Brainstorm -->
                    <div *ngIf="activePhase !== '' && activePhase == 'Brainstorm'">
                        <h3>{{activePhase}}</h3>
                        <p>
                            The <strong>BRAINSTORM</strong> phase is the most crucial part of the <strong>CREATE</strong> stage,
                            allowing you to attach sub-plans and modules to any root plan, and
                            nest those plan items as necessary. To get the most out of the BRAINSTORM phase,
                            we suggest creating at least 1-3 sub-plans, and exploring the various modules and challenges available
                            for attachment. Ultimately, the HUD is your source for planning <strong>your</strong> goals, so
                            the route that works with your goals is the best route.
                        </p>
                    </div>
                    <div *ngIf="activePhase !== '' && activePhase == 'Prioritize'">
                        <h3>{{activePhase}}</h3>
                        <p>
                            The <strong>PRIORITIZE</strong> tool allows you to quickly organize
                            the prioritization of the various items that form your root plan, and
                            giving you the power to focus on what matters most.
                        </p>
                        <p>
                            Using the <strong>PRIORITIZE</strong> phase is incredibly simple: all
                            plans are assigned a base priority number, and with the higest priority
                            closest to 0. This means your top priority will always be top of the list,
                            and vice versa, allowing for seemless transition between plans based
                            on when you need to focus on them.
                        </p>
                    </div>
                    <div *ngIf="activePhase !== '' && activePhase == 'Deactivate'">
                        <h3>{{activePhase}}</h3>
                        <p>
                            The <strong>DEACTIVATE</strong> phase is a tool for determining
                            what plan items should be actively pursued, and which can be set aside.
                            Ultimately, any item that is deactivated is only such until you choose to
                            reactivate the item, if at all. You are a busy individual, and you deserve
                            the most efficient tools for quickly filing through your plans- <strong>DEACTIVATE</strong>
                            is here to help.
                        </p>
                        <p>
                            Using the <strong>DEACTIVATE</strong> phase is as easy as clicking the
                            deactivate button for any particular sub-item under your root plan. Any deactivated sub-items
                            with child items of their own will deactivate ALL child items as well. 
                        </p>
                        <p>
                            <strong>NOTE:</strong> Deactivated items will not be usuable
                            in any following phases until they are reactivated, and ultimately have
                            no impact on any measurements and summaries made.
                        </p>
                    </div>
                    <div *ngIf="activePhase !== '' && activePhase == 'Propose'">
                        <h3>{{activePhase}}</h3>
                        <p>
                            Looking to bring attention to a particular plan item? Working on a large
                            team where ideas tend to get lost. Introducing the <strong>PROPOSE</strong> phase,
                            a tool dedicated to giving each user in your team a voice. With the ability to propose any plan item,
                            your entire team has the chance to bring their plans and ideas to the forefront, allowing
                            for voting in the next phase.
                        </p>
                        <p>
                            Individual user? No problem, the <strong>PROPOSE</strong> phase gives you the opportunity
                            to finalize the plans you want to proceed further with, bringing them to a vote for 
                            comparison with each other.
                        </p>
                    </div>
                    <div *ngIf="activePhase !== '' && activePhase == 'Vote'">
                        <h3>{{activePhase}}</h3>
                        <p>
                            Introducting one of the most revolutionary tools behind
                            Rapifly's CEE methodology- the <strong>VOTE</strong> phase- a tool
                            that brings a democratic approach to the team planning process. Now,
                            all members on your team have a chance to vote on the plans that matter most,
                            allowing for a better projection of where you want to take your goals next,
                            and how those goals will be pursued.
                        </p>
                        <p>
                            Here at Rapifly, we understand how important it is for all members on a team
                            to have a say in key planning decisions. As teams grow, more and more ideas are proposed,
                            and the <strong>VOTE</strong> phase will be the final disseminating factor for
                            making the best planning decisions possible.
                        </p>
                        <p>
                            Not working with a team? You're in luck, while voting may not necessarily democratize
                            your solo projects, it provides you a chance to reflect and determine for yourself
                            which plans you think are the most effective. Never before has the decision making involved
                            in planning been so simple, so efficient, and so user-friendly- welcome to the power
                            of Rapifly!
                        </p>
                    </div>
                    <div *ngIf="activePhase !== '' && activePhase == 'Select'">
                        <h3>{{activePhase}}</h3>
                        <P>
                            This is it- the final moment before execution- welcome
                            to the <strong>SELECT</strong> phase. Following a thorough vote across your various plan items,
                            all plan items will appear with their respective vote counts, and all that is left to do is
                            toggle which plans you want to execute.
                        </P>
                        <p>
                            <strong>SELECT</strong> is the final phase of the <strong>CREATE</strong> stage,
                            and notably the most important- how do you determine which plans are most worth pursuing?
                        </p>
                        <ol>
                            <li>Which plans have the highest and lowest vote counts? Typically, we recommend pursuing plans with the most
                                positive overall vote.
                            </li>
                            <li>
                                If plans have tied vote counts, which had the higher priority? Perhaps this is a quick reference
                                that can guide your final decision.
                            </li>
                            <li>
                                If there are few to no plans with positive votes, weigh your options carefully, and consider circling back
                                with yourself or your team to determine a better course of action.
                            </li>
                        </ol>
                    </div>
                </div>

                <div *ngIf="activeStage !== '' && activeStage == 'Execute'" [hidden]="activeStage == ''">
                    <h3>{{activeStage}}</h3>
                    <p>
                        Welcome to the <strong>EXECUTE</strong> stage, the second
                        stage in Rapifly's unique CEE methodology. Under <strong>EXECUTE</strong>,
                        you will find tools for delegating active plans, tracking the countdown until
                        your plan is set to launch, and launch your plans for evaluation and improvement!
                    </p>
                    <p>
                        <strong>NOTE:</strong> The <strong>DELEGATE</strong> tool is currently under contstruction
                        as we expand to more users. Check back in often for updates! 
                    </p>
                    <ul class="guide-nav">
                        <li class="rap-guide-list-item" *ngFor="let i of hudSelectionsPhases_Execute">
                            <button value={{i}} class="btn btn-default" (click)="selectPhase($event)">
                                {{i}}
                            </button>
                        </li>
                    </ul>

                    <div *ngIf="activePhase !== '' && activePhase == 'Delegate'">
                        <h3>{{activePhase}}</h3>
                    </div>
                    <div *ngIf="activePhase !== '' && activePhase == 'Countdown'">
                        <h3>{{activePhase}}</h3>
                    </div>
                    <div *ngIf="activePhase !== '' && activePhase == 'Launch'">
                        <h3>{{activePhase}}</h3>
                    </div>
                </div>

                </mat-expansion-panel>

                <mat-expansion-panel style="margin-bottom: 24px;">
                    <mat-expansion-panel-header>
                        <h3>Admin Panel</h3>
                    </mat-expansion-panel-header>
                    <ul class="guide-nav">
                        <li class="rap-guide-list-item" *ngFor="let i of adminSelectionsMain">
                            <button value={{i}} class="btn btn-default" (click)="selectStageAdmin($event)">
                                {{i}}
                            </button>
                        </li>
                    </ul>
                    <p *ngIf="activeStageAdmin === ''" [hidden]="activeStageAdmin !== ''">Select a section to learn more...</p>


                <!-- Active Stage: Create -->
                <div *ngIf="activeStageAdmin !== ''" [hidden]="activeStageAdmin == ''">
                    <h3>{{activeStageAdmin}}</h3>
                    <p>Under contstruction, please come back at a later date, thank you!</p>
                </div>

                </mat-expansion-panel>

                <mat-expansion-panel style="margin-bottom: 48px;">
                    <mat-expansion-panel-header>
                        <h3>FAQ's</h3>
                    </mat-expansion-panel-header>
                        <div *ngFor="let i of faqData" style="width: 100%;">
                            <div style="display: flex; width: fit-content; align-items: center; flex-direction: row; justify-content: center;">
                                <h3>{{i.topic}}</h3>
                            </div>
                            <p>{{i.answer}}</p>
                        </div>
                        

                </mat-expansion-panel>
                
            </li>
        </ul>

        <!-- Find a Coach Contact List -->
        <div>
            <div>
                <h3>Find a Coach</h3>
            </div>
            <hr>
            <p >
                Looking for solutions and insights from experienced individuals? Here, you have access
                to a plethora of knowlegable professionals from a diverse set of fields. Ranging from health
                and government concerns, to problems in education or infrastructure, Rapifly boasts
                a contact list to get you in direct contact with experts ready to bring solutions to your
                community problems.
            </p>

            <!-- Contact List -->
            <div class="panel panel-cutom-blue">
                <div class="panel-body">
                    <div class="form-group pull-right mb-5">
                        <a class="btn btn-primary" (click)="resetSearch()">
                            <i class="fa fa-refresh"></i></a>&nbsp;
                        <a class="btn btn-success" (click)="openSearchModal()">
                            <i class="fa fa-search"></i></a>&nbsp;
                    </div>
                    <div class="row col-md-12">
                        <div class="table-responsive">
                            <table id="example" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="display table table-data-width">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Phone</th>
                                        <th>Title</th>
                                        <th>Industries</th>
                                        <th>Company</th>
                                        <th>Created at</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let user of users; let i=index;">
                                        <td>{{ user.first_name }} {{ user.last_name }}</td>
                                        <td>{{ user.email }}</td>
                                        <td>{{ user.phone }}</td>
                                        <td>{{ user.title }}</td>
                                        <td>{{ user.industries }}</td>
                                        <td>{{ (user.company_name) ? user.company_name : '---' }}</td>
                                        <td>{{ user.created_at | date: 'yyyy-MM-dd h:mm:ss a' }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>

    <!-- Start Search Control Modal -->
    <div class="modal fade" id="searchCoachModal" tabindex="-1" role="dialog" aria-labelledby="searchCoachModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="searchCoachModalLabel">Search Coaches</h4>
                </div>
                <form [formGroup]="searchCoachesForm">
                    <div class="modal-body">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label>First Name</label>
                                <input type="text" class="form-control" formControlName="first_name" placeholder="First Name">
                            </div>
                            <div class="form-group col-md-6">
                                <label>Last Name</label>
                                <input type="text" class="form-control" formControlName="last_name" placeholder="First Name">
                            </div>
                            <div class="form-group col-md-6">
                                <label>Email</label>
                                <input type="Email" class="form-control" formControlName="email" placeholder="Email">
                            </div>
                            <div class="form-group col-md-6">
                                <label>Phone</label>
                                <input type="text" class="form-control" formControlName="phone" placeholder="Phone">
                            </div>
                            <div class="form-group col-md-6">
                                <label>Company Name</label>
                                <input type="text" class="form-control" formControlName="company_name" placeholder="Company Name">
                            </div>
                            <div class="form-group col-md-6">
                                <label>Title</label>
                                <input type="text" class="form-control" formControlName="title" placeholder="Title">
                            </div>
                            <div class="form-group col-md-6">
                                <label>Industries</label>
                                <input type="text" class="form-control" formControlName="industries" placeholder="Industries">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-success" (click)="submit()">Search</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- End Search Control Modal -->
    <app-footer></app-footer>
</div>