<app-header></app-header>

<!-- Page Content -->
<div class="page-content">
    <app-top-header></app-top-header>

    <!-- Why does the below class 'no-page-title' allow the page-title to exist? The irony is striking in this bug... -->
    
    
    <div class="page-inner no-page-title">

        <div>
            <h3>Where Do I Start?</h3>
        </div>
        <hr>
        <p>
            Lost? Overwhelmed? Let's ease the stress of learning a new piece software so your team
            can spend time on what matters to you.
        </p>

        <ul class="rap-guide-list">
            <li>
                <mat-expansion-panel style="margin-bottom: 24px;">
                    <mat-expansion-panel-header>
                        <h3>The Hud</h3>
                    </mat-expansion-panel-header>
                    <ul class="guide-nav">
                        <li class="rap-guide-list-item" *ngFor="let i of hudSelectionsStages">
                            <button value={{i}} class="btn btn-default" (click)="selectStage($event)">
                                {{i}}
                            </button>
                        </li>
                    </ul>
                    <p *ngIf="activeStage === ''" [hidden]="activeStage !== ''">Select a section to learn more...</p>

                <!-- Active Stage: Create -->
                <div *ngIf="activeStage !== ''" [hidden]="activeStage == ''">
                    <h3>{{activeStage}}</h3>
                    <p>Under contstruction, please come back at a later date, thank you!</p>
                </div>

                </mat-expansion-panel>

                <mat-expansion-panel style="margin-bottom: 24px;">
                    <mat-expansion-panel-header>
                        <h3>Admin Panel</h3>
                    </mat-expansion-panel-header>
                    <ul class="guide-nav">
                        <li class="rap-guide-list-item" *ngFor="let i of adminSelectionsMain">
                            <button value={{i}} class="btn btn-default" (click)="selectStageAdmin($event)">
                                {{i}}
                            </button>
                        </li>
                    </ul>
                    <p *ngIf="activeStageAdmin === ''" [hidden]="activeStageAdmin !== ''">Select a section to learn more...</p>


                <!-- Active Stage: Create -->
                <div *ngIf="activeStageAdmin !== ''" [hidden]="activeStageAdmin == ''">
                    <h3>{{activeStageAdmin}}</h3>
                    <p>Under contstruction, please come back at a later date, thank you!</p>
                </div>

                </mat-expansion-panel>

                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <h3>FAQ's</h3>
                    </mat-expansion-panel-header>
                        <div *ngFor="let i of faqData" style="width: 100%;">
                            <div style="display: flex; width: fit-content; align-items: center; flex-direction: row; justify-content: center;">
                                <h3>{{i.topic}}</h3>
                            </div>
                            <p>{{i.answer}}</p>
                        </div>
                        

                </mat-expansion-panel>
                
            </li>
        </ul>

        <!-- Find a Coach Contact List -->
        <div>
            <div>
                <h3>Find a Coach</h3>
            </div>
            <hr>
            <p >
                Looking for solutions and insights from experienced individuals? Here, you have access
                to a plethora of knowlegable professionals from a diverse set of fields. Ranging from health
                and government concerns, to problems in education or infrastructure, Rapifly boasts
                a contact list to get you in direct contact with experts ready to bring solutions to your
                community problems.
            </p>

            <!-- Contact List -->
            <div class="panel panel-cutom-blue">
                <div class="panel-body">
                    <div class="form-group pull-right mb-5">
                        <a class="btn btn-primary" (click)="resetSearch()">
                            <i class="fa fa-refresh"></i></a>&nbsp;
                        <a class="btn btn-success" (click)="openSearchModal()">
                            <i class="fa fa-search"></i></a>&nbsp;
                    </div>
                    <div class="row col-md-12">
                        <div class="table-responsive">
                            <table id="example" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="display table table-data-width">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Phone</th>
                                        <th>Title</th>
                                        <th>Industries</th>
                                        <th>Company</th>
                                        <th>Created at</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let user of users; let i=index;">
                                        <td>{{ user.first_name }} {{ user.last_name }}</td>
                                        <td>{{ user.email }}</td>
                                        <td>{{ user.phone }}</td>
                                        <td>{{ user.title }}</td>
                                        <td>{{ user.industries }}</td>
                                        <td>{{ (user.company_name) ? user.company_name : '---' }}</td>
                                        <td>{{ user.created_at | date: 'yyyy-MM-dd h:mm:ss a' }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>

    <!-- Start Search Control Modal -->
    <div class="modal fade" id="searchCoachModal" tabindex="-1" role="dialog" aria-labelledby="searchCoachModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="searchCoachModalLabel">Search Coaches</h4>
                </div>
                <form [formGroup]="searchCoachesForm">
                    <div class="modal-body">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label>First Name</label>
                                <input type="text" class="form-control" formControlName="first_name" placeholder="First Name">
                            </div>
                            <div class="form-group col-md-6">
                                <label>Last Name</label>
                                <input type="text" class="form-control" formControlName="last_name" placeholder="First Name">
                            </div>
                            <div class="form-group col-md-6">
                                <label>Email</label>
                                <input type="Email" class="form-control" formControlName="email" placeholder="Email">
                            </div>
                            <div class="form-group col-md-6">
                                <label>Phone</label>
                                <input type="text" class="form-control" formControlName="phone" placeholder="Phone">
                            </div>
                            <div class="form-group col-md-6">
                                <label>Company Name</label>
                                <input type="text" class="form-control" formControlName="company_name" placeholder="Company Name">
                            </div>
                            <div class="form-group col-md-6">
                                <label>Title</label>
                                <input type="text" class="form-control" formControlName="title" placeholder="Title">
                            </div>
                            <div class="form-group col-md-6">
                                <label>Industries</label>
                                <input type="text" class="form-control" formControlName="industries" placeholder="Industries">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-success" (click)="submit()">Search</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- End Search Control Modal -->
    <app-footer></app-footer>
</div>