<app-header></app-header>

<!-- Page Content -->
<div class="page-content">
    <app-top-header></app-top-header>

    <div class="page-inner no-page-title">
        <div class="page-title">
            <a *ngIf="currentuser.role == 'User'" [routerLink]="['/item-plans-details']" [queryParams]="{stage:'user'}" class="btn btn-warning m-b-sm pull-right"><i class="fa fa-arrow-left"></i>&nbsp;Back</a>
            <h3 class="breadcrumb-header pill-left">Invite Users</h3>
        </div>

        <div class="panel panel-darkblue">
            <div class="panel-body">
                <form class="form-horizontal" [formGroup]="inviteUserForm">
                    <div class="form-group m-t-xs">
                        <label class="col-sm-3 control-label">Designation</label>
                        <div class="col-sm-6">
                            <select class="form-control" formControlName="hierarchy_id" id="hierarchy_id" [ngClass]="{ 'is-invalid': isInviteUserFormValid && formVal.hierarchy_id.errors }">
                                        <option value="">Select Designation</option>
                                      <option *ngFor="let desg of designations;" value="{{desg._id}}">{{ desg.designation }}</option>
                                    </select>
                            <div *ngIf="isInviteUserFormValid && formVal.hierarchy_id.errors" class="invalid-feedback">
                                <div *ngIf="formVal.hierarchy_id.errors.required">Please select any organization</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group m-t-xs">
                        <label class="col-sm-3 control-label">Email</label>
                        <div class="col-sm-6">
                            <input type="email" class="form-control" formControlName="email" placeholder="Email" [ngClass]="{ 'is-invalid': isInviteUserFormValid && formVal.email.errors }">
                            <div *ngIf="isInviteUserFormValid && formVal.email.errors" class="invalid-feedback">
                                <div *ngIf="formVal.email.errors.required">Email is required</div>
                                <div *ngIf="formVal.email.errors.email">Please enter valid email address</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-7 col-sm-6">
                            <button type="submit" (click)="submit()" class="btn btn-success horizontal-form-button">Invite User</button>&nbsp;
                            <button type="reset" class="btn btn-default horizontal-form-button">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>