<app-header></app-header>

<!-- Page Content -->
<div class="page-content">
    <app-top-header></app-top-header>

    <div class="panel panel-darkblue">
        <div class="panel-heading">
            <h4 class="panel-title">Organizations</h4>
        </div>
        <div class="panel-body">
            <div class="row col-md-12">
                <button type="button" class="btn btn-success m-b-sm pull-right" (click)="reset()" data-toggle="modal" data-target="#myModal"><i class="fa fa-plus"></i>&nbsp;Add Organization</button>
            </div>
            <!-- Modal -->
            <form id="add-row-form" #kform="ngForm" [formGroup]="addOrganizationForm">
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">Add Organization</h4>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <input type="text" formControlName="name" class="form-control" placeholder="Organization name" [ngClass]="{ 'is-invalid': IsAddOrganizationFormValid && insertVal.name.errors }">
                                    <div *ngIf="IsAddOrganizationFormValid && insertVal.name.errors" class="invalid-feedback">
                                        <div *ngIf="insertVal.name.errors.required">Organization name is required</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="text" formControlName="domain_name" class="form-control" placeholder="Domain name" [ngClass]="{ 'is-invalid': IsAddOrganizationFormValid && insertVal.domain_name.errors }">
                                    <div *ngIf="IsAddOrganizationFormValid && insertVal.domain_name.errors" class="invalid-feedback">
                                        <div *ngIf="insertVal.domain_name.errors.required">Domain name is required</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <select formControlName="can_invite" class="form-control" [ngClass]="{ 'is-invalid': IsAddOrganizationFormValid && insertVal.can_invite.errors }">
                                        <option value="">Can Domain Invite User</option>
                                        <option value="1">Yes</option>
                                        <option value="0">No</option>
                                    </select>
                                    <div *ngIf="IsAddOrganizationFormValid && insertVal.can_invite.errors" class="invalid-feedback">
                                        <div *ngIf="insertVal.can_invite.errors.required">Please select permission for invite users</div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                <button type="submit" (click)="submit()" class="btn btn-success">Add</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="row col-md-12">
                <div class="table-responsive">
                    <table id="example" class="display table table-data-width">
                        <thead>
                            <tr>
                                <th>Organization Name</th>
                                <th>Domain Name</th>
                                <th>Can Invite Users</th>
                                <th>Created at</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let org of orgRecords; let i=index">
                                <td>{{ org.name }}</td>
                                <td>{{ org.domain_name }}</td>
                                <td>
                                    <span *ngIf="org.can_invite == 1" class="badge badge-success">Yes</span>
                                    <span *ngIf="org.can_invite == 0" class="badge badge-danger">No</span>
                                </td>
                                <td>{{ org.created_at | date: 'yyyy-MM-dd h:mm:ss a' }}</td>
                                <td>
                                    <label class="switch">
                                        <input type="checkbox" (change)="updateOrgStatus($event, org._id)" checked="{{ (org.status == 0) ? 'checked' : '' }}">
                                        <span class="slider round"></span>
                                      </label>
                                </td>
                                <td>
                                    <button class="btn btn-xs btn-primary" (click)="openEditModal(org)"><i class="fa fa-pencil"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>

<!-- Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Edit Organization</h4>
            </div>
            <form [formGroup]="editOrganizationForm">
                <div class="modal-body">
                    <div class="form-group">
                        <input type="text" formControlName="name" class="form-control" placeholder="Organization name" [ngClass]="{ 'is-invalid': IsEditOrganizationFormValid && editVal.name.errors }">
                        <div *ngIf="IsEditOrganizationFormValid && editVal.name.errors" class="invalid-feedback">
                            <div *ngIf="editVal.name.errors.required">Organization name is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text" formControlName="domain_name" class="form-control" placeholder="Domain name" [ngClass]="{ 'is-invalid': IsEditOrganizationFormValid && editVal.domain_name.errors }">
                        <div *ngIf="IsEditOrganizationFormValid && editVal.domain_name.errors" class="invalid-feedback">
                            <div *ngIf="editVal.domain_name.errors.required">Domain name is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <select formControlName="can_invite" class="form-control" [ngClass]="{ 'is-invalid': IsEditOrganizationFormValid && editVal.can_invite.errors }">
                            <option value="">Select Invite User Permission</option>
                            <option value="1">Yes</option>
                            <option value="0">No</option>
                        </select>
                        <div *ngIf="IsEditOrganizationFormValid && editVal.can_invite.errors" class="invalid-feedback">
                            <div *ngIf="editVal.can_invite.errors.required">Please select permission for invite users.</div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="submit" (click)="onSubmitUpdate()" class="btn btn-success">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
